* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}
ul,ol,menu{
    list-style: none;
}
.titlelogo{
    background-color: white;
    
    
}
body{
    background-color: lightgray;
}
.background.{
    background-color: white;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    
}

.logo{
    vertical-align: middle;
    margin-left: 50px;

}
.title{
    font-size: 50px;
    vertical-align: middle;
}
.pulsanti{
    
    margin-top: 80px;

    
    
}
.addtask{
    background-color: blue;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: white;
    border: 1px solid blue;
}
.secondtask{
    margin-left: 2px;
    border: 1px solid blue;
    background-color: white;
    padding: 5px;
    color: blue;
    border-radius: 5px;
}
.titlelist{
    font-size: 30px;
    font-weight: 900;
    

}
.list{
   margin-top: 50px;
}
.firstedit{
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;

}
.plist{
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
}
.editorial{
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.goals{
    color: white;
    background-color: rgb(176, 3, 156);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.recruiting{
    color: white;
    background-color: rgb(4, 101, 58);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.mobile{
    color: white;
    background-color: gold;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.editorialtwo{
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.website{
    color: white;
    background-color: rgb(255, 0, 132);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.sales{
    color: white;
    background-color: rgb(5, 248, 66);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}
.editorialfinal{
    color: white;
    background-color: rgb(4, 163, 155);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
}